#ejerciciouno{
    display:block;
    text-align: center;
}
#ejerciciodos{
    display:none;
}
#ejerciciotres{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 200px;
}
#ejerciciocuatro{ 
    top: 0px;
    position:fixed;
}